<h2 class="cyan-text text-accent-3">New User</h2>

<%= render "form.html",  Map.put(assigns, :action, user_path(@conn, :create)) %>

<span><%= link "Back", to: user_path(@conn, :index), class: "cyan-text text-accent-3"%></span>
