/* This file is for your main application css. */
.press-start {
  font-family: 'Press Start 2P', cursive
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
