<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Bandstock</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gugi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <script src="<%= static_path(@conn, "/js/pixi.min.js") %>"></script>
    <script type="<%= static_path(@conn, "/js/config.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body class="black" onload="init()">
    <script>

      let app;
      let sprites = {}
      let blues;
      let scaling = .04;
      let Application = PIXI.Application,
            loader = PIXI.loader,
            resources = PIXI.loader.resources,
            Sprite = PIXI.Sprite,
            TextureCache = PIXI.utils.TextureCache,
            Rectangle = PIXI.Rectangle,
            Resources = PIXI.loader.resources;

      function init(){

        app = new Application({
            width: 940,
            height: 420,
            antialias: true,
            transparent: false,
            resolution: 1
          }
        );

        document.getElementById('splash-screen').appendChild(app.view);
        app.stop();


        //Add the canvas that Pixi automatically created for you to the HTML document


        //load an image and run the `setup` function when it's done
        PIXI.loader
          .add("images/bandstockTileSheet2.png")
          .add("spritesheet", "images/bandstockTileSheet2.json")
          .load(setup);
      }

      //This `setup` function will run when the image has loaded
      function setup() {
        let speed = 3;

        var height = 20;
        var width = 58;

        var sprites = new Array(height);
        for (var i = 0; i <= width; i++) {
          sprites[i] = new Array(width);
        }

        var colors = new Array(width);
        colors[0] = "yellow";
        colors[1] = "purple";
        colors[2] = "green";
        colors[3] = "purple";
        colors[4] = "blue";
        colors[5] = "teal";
        colors[6] = "blue";
        colors[7] = "purple";
        colors[8] = "green";
        colors[9] = "purple";
        colors[10] = "blue";
        colors[11] = "teal";
        colors[12] = "blue";
        colors[13] = "purple";
        colors[14] = "green";
        colors[15] = "purple";
        colors[16] = "blue";
        colors[17] = "teal";
        colors[18] = "blue";
        colors[19] = "teal";
        colors[20] = "blue";
        colors[21] = "purple";
        colors[22] = "green";
        colors[23] = "purple";
        colors[24] = "blue";
        colors[25] = "teal";
        colors[26] = "green";
        colors[27] = "yellow";
        colors[28] = "orange";
        colors[29] = "red";
        colors[30] = "magenta";
        colors[31] = "red";
        colors[32] = "orange";
        colors[33] = "yellow";
        colors[34] = "green";
        colors[35] = "teal";
        colors[36] = "blue";
        colors[37] = "purple";
        colors[38] = "green";
        colors[39] = "purple";
        colors[40] = "blue";
        colors[41] = "teal";
        colors[42] = "blue";
        colors[43] = "purple";
        colors[44] = "green";
        colors[45] = "purple";
        colors[46] = "blue";
        colors[47] = "teal";
        colors[48] = "blue";
        colors[49] = "purple";
        colors[50] = "green";
        colors[51] = "purple";
        colors[52] = "blue";
        colors[53] = "teal";
        colors[54] = "blue";
        colors[55] = "purple";
        colors[56] = "green";
        colors[57] = "purple";
        colors[58] = "yellow";

        let total_width = 940;

        for(var i = 0; i < colors.length; i++){
          for(var j = 0; j < height; j++){
            cur_sprite = sprites[i][j] = load_tile(colors[i], 5);
            init_sprite_animation(cur_sprite, speed*(j+i+1)/width);
            cur_sprite.x = (i*cur_sprite.width+cur_sprite.width/2)+i*2;
            cur_sprite.y = cur_sprite.height/2 + j*cur_sprite.height + j*2;
            cur_sprite.play();
          }
        }
        /*var i = 8;
        for(var j = 0; j < 5; j++){
          cur_sprite = sprites[i][j] = load_tile("magenta", 5);
          init_sprite_animation(cur_sprite, speed);
          cur_sprite.x = (app.screen.width/2) - total_width/2 + i*cur_sprite.width + i*2;
          cur_sprite.y = cur_sprite.height/2 + j*cur_sprite.height + j*2;
          cur_sprite.play();
          //app.stage.addChild(cur_sprite);
        }*/

        for(var i = 0; i < colors.length; i++){
          for(var j = 0; j< height; j++){
            app.stage.addChild(sprites[i][j]);
          }
        }

        /*magenta_sprite = sprites[0][0] = load_tile("magenta", 5);
        init_sprite_animation(magenta_sprite, speed);
        magenta_sprite.x = (app.screen.width/2) - total_width/2;
        magenta_sprite.y = 100;
        magenta_sprite.play();
        app.stage.addChild(magenta_sprite);

        red_sprite = sprites[0][1] = load_tile("red", 5);
        init_sprite_animation(red_sprite, speed);
        red_sprite.x = magenta_sprite.x+(red_sprite.width+2);
        red_sprite.y = magenta_sprite.y;
        red_sprite.play();
        app.stage.addChild(red_sprite);

        orange_sprite = sprites[0][2] = load_tile("orange", 5);
        init_sprite_animation(orange_sprite, speed);
        orange_sprite.x = red_sprite.x+(orange_sprite.width+2);
        orange_sprite.y = magenta_sprite.y;
        orange_sprite.play();
        app.stage.addChild(orange_sprite);

        yellow_sprite = sprites[0][3] = load_tile("yellow", 5);
        init_sprite_animation(yellow_sprite, speed);
        yellow_sprite.x = orange_sprite.x+(yellow_sprite.width+2);
        yellow_sprite.y = magenta_sprite.y;
        yellow_sprite.play();
        app.stage.addChild(yellow_sprite);

        green_sprite = sprites[0][4] = load_tile("green", 5);
        init_sprite_animation(green_sprite, speed);
        green_sprite.x = yellow_sprite.x+(green_sprite.width+2);
        green_sprite.y = magenta_sprite.y;
        green_sprite.play();
        app.stage.addChild(green_sprite);

        teal_sprite = sprites[0][5] = load_tile("teal", 5);
        init_sprite_animation(teal_sprite, speed);
        teal_sprite.x = green_sprite.x+(teal_sprite.width+2);
        teal_sprite.y = magenta_sprite.y;
        teal_sprite.play();
        app.stage.addChild(teal_sprite);

        blue_sprite = sprites[0][6] = load_tile("blue", 5);
        init_sprite_animation(blue_sprite, speed);
        blue_sprite.x = teal_sprite.x+(blue_sprite.width+2);
        blue_sprite.y = magenta_sprite.y;
        blue_sprite.play();
        app.stage.addChild(blue_sprite);

        purple_sprite = sprites[0][7] = load_tile("purple", 5);
        init_sprite_animation(purple_sprite, speed);
        purple_sprite.x = blue_sprite.x+(purple_sprite.width+2);
        purple_sprite.y = magenta_sprite.y;
        purple_sprite.play();
        app.stage.addChild(purple_sprite);

        magenta_sprite2 = sprites[0][8] = load_tile("magenta", 5);
        init_sprite_animation(magenta_sprite2, speed);
        magenta_sprite2.x = purple_sprite.x+magenta_sprite2.width+2;
        magenta_sprite2.y = magenta_sprite.y;
        magenta_sprite2.play();
        app.stage.addChild(magenta_sprite2);*/

        app.start();
      }

      function load_tile(color, frame_count){
        textures = [];

        for (i = 0; i < frame_count; i++){
          var framekey = color + ' ' + i + '.png';
          var texture = PIXI.Texture.fromFrame(framekey);
          var time = resources.spritesheet.data.frames[framekey].duration;
          textures.push({texture, time});
        }

        return new PIXI.extras.AnimatedSprite(textures);
      }

      function init_sprite_animation(sprite, speedIn){
        sprite.animationSpeed = speedIn;
        sprite.anchor.set(0.5);
        sprite.scale.set(scaling);
        return sprite;
      }

        /*blue_off = new PIXI.Sprite(
          PIXI.loader.resources["images/bandstockTileSheet.json"].textures["blue_off.png"]
        );
        blue_off.x = 668;
        blue_off.y = 50;
        //blue_off.y = app.stage.height /2 - blue_off.height /2;
        //app.stage.addChild(blue_off);
        blue_animation.push(blue_off);

        blue_0 = new PIXI.Sprite(
          PIXI.loader.resources["images/bandstockTileSheet.json"].textures["blue_0.png"]
        );
        blue_0.x = 668;
        blue_0.y = 50;
        //blue_0.y = app.stage.height /2 - blue_0.height /2;
        app.stage.addChild(blue_0);
        blue_animation.push(blue_0);

        blue_1 = new PIXI.Sprite(
          PIXI.loader.resources["images/bandstockTileSheet.json"].textures["blue_1.png"]
        );
        blue_1.x = 668;
        blue_1.y = 50;
        //blue_1.y = app.stage.height /2 - blue_1.height /2;
        app.stage.addChild(blue_1);
        blue_animation.push(blue_1);

        blue_2 = new PIXI.Sprite(
          PIXI.loader.resources["images/bandstockTileSheet.json"].textures["blue_2.png"]
        );
        blue_2.x = 668;
        blue_2.y = 50;
        //blue_1.y = app.stage.height /2 - blue_1.height /2;
        app.stage.addChild(blue_2);
        blue_animation.push(blue_2);

        blue_3 = new PIXI.Sprite(
          PIXI.loader.resources["images/bandstockTileSheet.json"].textures["blue_3.png"]
        );
        blue_3.x = 668;
        blue_3.y = 50;
        //blue_1.y = app.stage.height /2 - blue_1.height /2;
        app.stage.addChild(blue_3);
        blue_animation.push(blue_3);

        blues = new PIXI.AnimatedSprite(blue_animation);*/



      //function gameLoop() {
        //Call this `gameLoop` function on the next screen refresh
        //(which happens 60 times per second)
        //requestAnimationFrame(gameLoop);

        //Move the cat
        //for(var i = 0; i < sprites.length; i++){
        //  console.log(sprites[i]);
        //}
      //}

//Start the loop
//gameLoop();


    </script>
    <div class="container">
      <header>
        <div class="row">
          <div class="col s1 pink accent-4 pink-text text-accent-4  center-align">~</div>
          <div class="col s1 purple accent-4 purple-text text-accent-4 center-align">B</div>
          <div class="col s1 indigo accent-4 indigo-text text-accent-4 center-align">A</div>
          <div class="col s1 light-blue light-blue-text accent-4 text-accent-4 center-align">N</div>
          <div class="col s1 cyan cyan-text accent-4 text-accent-4 center-align">D</div>
          <div class="col s1 teal teal-text accent-4 text-accent-4 center-align">S</div>
          <div class="col s1 green green-text accent-4 text-accent-4 center-align">T</div>
          <div class="col s1 lime lime-text accent-4 text-accent-4 center-align">O</div>
          <div class="col s1 yellow yellow-text accent-4 text-accent-4 center-align">C</div>
          <div class="col s1 orange orange-text accent-4 text-accent-4 center-align">K</div>
          <div class="col s1 red red-text accent-4 text-accent-4 center-align">~</div>
          <div class="col s1 pink pink-text accent-4 text-accent-4 center-align">.</div>

          <div class="col s12 black accent-4 right">
            <ul class="left">
              <li class="yellow-text text-accent-4" role="alert"><%= get_flash(@conn, :info) %></li>
              <li class="" role="alert"><%= get_flash(@conn, :error) %></li>
            </ul>
            <ul class="right">
              <%= if @conn.assigns[:user] do %>
                <li>

                  <%= link "Sign Out", to: auth_path(@conn, :signout), class: "yellow-text text-accent-4" %>

                </li>
              <% else %>
                <li>
                  <a href="<%= auth_path(@conn, :register) %>">
                    <img  src="<%= static_path(@conn, "/images/icons/key1.png") %>">
                  </a>

                  <!-- <a href="<%= auth_path(@conn, :request, "github") %>" >
                    <img  src="<%= static_path(@conn, "/images/icons/githublogo.png") %>">
                  </a> -->
                </li>
              <% end %>
            </ul>
          </div>
        </div>


      </header>


      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
